<div class="container">
    <div class="card col-md-6">
        <div class="card-header">


        </div>
        <div class="card-body">
            <form [formGroup]="newClientFormGroup" (ngSubmit)="saveClient()" >
                <div class="mb-3">
                    <label class="form-label">Firstname:</label>
                <input type="text" formControlName="firstname" class="form-control">
                <span *ngIf="newClientFormGroup.controls['firstname'].touched
                &&newClientFormGroup.controls['firstname'].errors && newClientFormGroup.controls['firstname'].errors!['required']">firstName required</span>
            </div>
                <div class="mb-3">
                    <label class="form-label">Email:</label>
                <input type="text" formControlName="email" class="form-control">
                <span *ngIf="newClientFormGroup.controls['email'].touched
                &&newClientFormGroup.controls['email'].errors &&newClientFormGroup.controls['email'].errors?.['email'] ">EmailNotValid </span>
            </div>
            <button [disabled]="!newClientFormGroup.valid" class="btn-btn-info">save</button>
                
            </form>

        </div>

    </div>

</div>